@import url('https://fonts.googleapis.com/css?family=Oxygen&display=swap');

@-ms-viewport {
  width: device-width;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@-ms-viewport {
  width: device-width;
}

html,
body {
  color: white;
  background-color: #2A2F49;
  text-align: center;
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  /* height: 100vh; */
}

/* Media Query for Tablets Ipads portrait mode, desktop */
@media (min-width: 768px) {
  #header {
    height: 100vh;
    padding: 5vw;
  }
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100vw;
  /* height: 100vh; */
  background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png") repeat;
}

#logo {
  height: 70vh;
}

#header-right {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #FFF5B5;
  /* padding-right: 5vw; */
}

#header-right button {
  border-radius: 5px;
  margin: 3px 0px;
  font-size: 1.2em;
  text-decoration: none;
  border: none;
}

#header-right a {
  text-decoration: none;
  color: black;
}


#app_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

/* Media Query for low resolution  Tablets, Ipads  and phones*/
@media (max-width: 481px) {
  #header-right {
    padding-right: 5vw;
  }

  #app_buttons {
    width: 100vw;
  }
}

#app_buttons button {
  padding: 20px;
  margin-left: 5px;
  padding: 7px 10px;
  font-size: 15px;
}

#hacker_button {
  background-color: #967ad2;
}

#hacker_button:hover {
  background-color: #b694ff;
}

#mentor_button {
  background-color: #9dd8d2;
}

#mentor_button:hover {
  background-color: #b7fff8;
}

#volunteer_button {
  background-color: #FFF5B5;
}

#volunteer_button:hover {
  background-color: #f9d364;
}


/* athenahacks text */
#header-right img {
  width: 35vw;
}

#coming_soon {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

/* Date of Athena */
#header-right h2 {
  margin-top: 30px;
  font-size: 1.8em;
}

#countdown {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
}

#clockdiv {
  padding-top: 5px;
  display: flex;
  justify-content: row;
  color: #FFF5B5;
}

.timer {
  padding: 5px;
  font-size: 50px;
  display: flex;
  /* justify-content: center; */
}

.section {
  min-height: 100vh;
  width: 100vw;
  padding: 10vh 10vw;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.section-title {
  font-size: 50px;
  color: #ABD8D3;
}

#hack-date {
  color: white;
  font-size: 19px;
  padding-top: 15px;
}

/* ABOUT section */
#about {
  text-align: center;
  justify-content: space-evenly;
  /*background-color: rgb(83, 132, 184, 0.5);*/
  color: white;
  /*background-color: #2A2F49;*/
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #3e4363;
}

#about h1 {
  align-self: center;
  color: #9dd8d2;
}

#about a {
  text-decoration: none;
  color: lavender;
}


#about-info {
  align-self: center;
  width: 90%;
  font-size: 16px;
  font-weight: 300px;
  font-family: 'Open Sans', sans-serif;
  line-height: 32px;
  padding: 20px 35px;
}

#info-cards {
  display: flex;
}

.card {
  /*background-color: rgb(255, 255, 255, 0.5);*/
  background-color: white;
  opacity: 0.9;
  padding: 20px;
  margin: 10px;
  align-items: center;
  color: black;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  color: #212323;
}

#infoCards {
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}

#about_land .about-img {
  width: 90px;
}

#about {
  width: 100%;
  text-align: center;
}

/* FAQ section */
#faq {
  text-align: left;
  /*background-color: rgb(141, 131, 190, 0.5);*/
  /*background-color: #685E9E;*/
  /*background-color: #0E0C1C;*/
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  background-color: #2A2F49;
}

#faq a {
  font-weight: bold;
  color: #a38bbf;
}

#faq .section-title {
  margin-bottom: 30px;
  font-family: 'Cabin', sans-serif;

}

.faq {
  list-style: none;
}

#faq-content {
  display: flex;
  justify-content: space-evenly;
}

.faq .question {
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease;
  margin-bottom: 20px;
  color: #BDB8DD;
}

.faq .question:hover {
  color: #FDFFB7;
}

.faq .active .question {
  color: #FDFFB7;
  font-weight: 600;
}

.faq .answer {
  font-size: 16px;
  line-height: 24px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
}

.faq li.active .answer {
  max-height: 275px;
  padding-bottom: 25px;
  transition: max-height 0.5s ease, padding-bottom 0.5s ease;
  /*color: #FEFFC4;*/
}


#faq-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-size: 18px;
  font-weight: 400;
}

#faq-right a {
  color: white;
}

#faq-right img {
  height: 30vw;
}

/* SPONSORS */
#sponsors {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.3);*/
  /* background-color: #0E0C1C;*/
  background-color: #3e4363;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

#sponsors a {
  font-weight: bold;
  color: #a38bbf;
}

#sponsor-logos {
  background-color: white;
  display: flex;
  padding: 30px 100px;
  border-radius: 20px;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  opacity: 0.9;
  margin-bottom: 40px;
}

.sponsor-tier {
  /* overflow-wrap: normal; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 40px; */
  margin-bottom: 20px;
}

.sponsor-tier img {
  padding: 15px;
  align-self: flex-start;
}

.sponsor_header {
  flex-direction: row;
  /* justify-content: center; */
  align-content: center;
  /* align-items: center; */
  padding-bottom: 20px;
  /*color: #685E9E;*/
  color: #9dd8d2;
  ;
}

.purple-rect {
  align-self: center;
  height: 5px;
  background: rgba(177, 156, 217, 0.5);
  width: 100%;
}

#sponsors .section-title {
  /*color: #9dd8d2;*/
  padding: 30px;
  padding-top: 20px;
  font-family: 'Cabin', sans-serif;
}

.sponsor-thanks {
  margin: auto;
  width: 65%;
  padding-bottom: 50px;
}

.sponsor-thanks p {
  margin-top: 5px;
}

.sponsor-title {
  /* align-self: center; */
  font-size: 60px;
  width: 100%;
  margin-bottom: 20px;
}

.sponsor-title.old {
  font-size: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.gold img {
  max-width: 300px !important;
}

.silver img {
  max-width: 250px !important;
  /* height: 10vh; */
}

.bronze img {
  /* max-height: 9vh; */
  max-width: 200px;
}

.misc img {
  /* max-height: 9vh; */
  max-width: 150px;
}

/* SOCIAL */
#social_media {
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*background-color: rgb(255, 182, 194, 0.5);*/
  background-color: #2A2F49;
  padding-bottom: 90px;
}

#social_media .section-title {
  /* color: #9dd8d2;*/
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 50px;
}

#pixlee_container {
  width: 80vw;
  align-self: center;
  height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;

}

#social_media a {
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
}

#social_media i {
  transition: all 0.3s ease;
}

#social_media i:hover {
  color: #FFFDBA;
  /* color: rgb(152, 152, 152);*/
}

/*organizers*/
#organizers{
  background-color: #3e4363;
  padding-bottom: 30px;
}

/*#organizers h3{
  text-align: left;
  margin-bottom: 0;
  padding-left: 25px;
  padding-top: 25px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}*/

#organizers p{
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 0;
  font-weight: 400;
  color: #b6bde0;
}

.profile-img{
  opacity: 0.9;
  width: 100%;
  padding: 20px;
  border-radius: 50%;
}

.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  padding-top: 30px; 
}

#organizers .team-name{
  font-size: 14px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
  font-family: 'Open-Sans', sans-serif;
}

.person{
  width: 20%;
  padding-bottom: 22px;

}

/*footer*/

#footer {
  width: 100%;
  background-color: #363a59;
  /* opacity: 0.1;*/
  padding: 15px;
  overflow: hidden;
  padding-left: 20px;
}

#footer p {
  margin: 0;
}

.footer-left {
  float: left;
  width: 25%;
}

.made-with {
  text-align: center;
  width: 75%;
}

#footer .made-with p {
  margin-top: 20px;
  font-family: "Open-Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.footer-logo {
  width: 80px;
  overflow: hidden;
}

.footer-img {
  width: 100%;
}


.fa {
  padding-right: 15px;
  color: white;

}

.social-icons {
  text-align: left;
  padding-top: 8px;
  width: 200px margin-right: 0;
}


/* Day-off / Nearing hackathon */
.links {
  padding-top: 3%;
  width: 50%;
  margin: 0 auto;
}

.countdown {
  text-align: center;
  width: 100%;
}

.time {
  float: left;
  font-size: 18px;
}

#info {
  padding: 50px;
}


@media (max-width: 1025px) {
  #header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #header-right img {
    padding-top: 10px;
    width: 70vw;
    align-self: flex-end;
  }

  #header-right h2 {
    font-size: 1.5em;
  }

  .section {
    font-size: 1.3em;
    padding: 5vh 0vw;
  }

  #info-cards {
    display: none;
  }

  #faq-content {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    flex-direction: column;
    margin-right: 10px;
  }

  #faq-content ul {
    margin-bottom: -11vh;
  }

  #sponsor-logos {
    margin-left: 1vw;
    margin-right: 1vw;
  }

  .sponsor-tier {
    padding: 2vh;
  }

  .sponsor-tier img {
    padding: 5px;
  }

  .tier3 img {
    height: 5vh;
  }

  /* their logo has a weird thing that makes it small looking so u gotta fake it being bigger */
  #honey {
    height: 7vh;
  }

  #pimco {
    width: 5vw;
  }

  .tier4 img {
    max-height: 15vh;
    max-width: 20vw;
  }

  .tier5 img {
    max-width: 15vw;
  }

  #sponsors {
    font-size: 1em;
    padding: 10px;
  }

  #social_media .section-title {
    font-size: 1.5em;
    /*color: #99D8D1;*/
  }

   #organizers .person{
    width: 33%;
  }

  .profile-img{
  opacity: 0.9;
  width: 75%;
  padding: 20px;
 }

 #organizers{
  font-size: 18px;
}

 #organizers .team-name{
  font-size: 14px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
  font-family: 'Open-Sans', sans-serif;
  padding-bottom: 15px;
  }
}

@media (max-width: 767px) {

  #logo{
    width: 300px;
    height: 300px;
  }

  #header{
    padding-bottom: 50px;
  }

  #header-right img {
    padding-top: 10px;
    width: 55vw;
    align-self: flex-end;
  }

  #about{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #faq{
    padding-top: 50px;
    padding-bottom: 50px;
  }

   #sponsors{
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-title {
    font-size: 35px;
  }

  #organizers .person{
    width: 100%;
  }

  .profile-img{
  opacity: 0.9;
  width: 60%;
  padding: 20px;
 }

 #organizers{
  font-size: 18px;
  padding-top: 60px;
  padding-bottom: 20px;
}

 #organizers .team-name{
  font-size: 16px;
  font-weight: 300;
  color: white;
  opacity: 0.9;
  font-family: 'Open-Sans', sans-serif;
  padding-bottom: 20px;
}


 
}



